<h2>Listing tasks</h2>

<%= link "See All", to: task_path(@conn, :index) %>
<br/>
<%= link "Active", to: task_path(@conn, :index, %{status: "active"}) %>
<br/>
<%= link "Complete", to: task_path(@conn, :index, %{status: "complete"}) %>
<table class="table">
  <thead>
    <tr>
      <th>Description</th>
      <th>Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for task <- @tasks do %>
    <tr>
      <td><%= task.description %></td>
      <td><%= task.status %></td>

      <td class="text-right">
        <%= update_link(@conn, task) %>
        <%= link "Show", to: task_path(@conn, :show, task), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: task_path(@conn, :edit, task), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: task_path(@conn, :delete, task), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New task", to: task_path(@conn, :new) %>
